{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}">
<script src="{% static 'todolist/logic.js' %}"></script>

<title>TODO List</title>
<div class="header">
    <h1>TODO List</h1>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="input-form">
    <form action="{% url 'todolist:addtask' %}" method="post">
        {% csrf_token %}

        <input type="text" name="task-name" placeholder="Nueva Tarea">
        <input class="button text-input-button" type="submit" value="Agregar">
    </form>
</div>

{% if t_list %}
    <div class="task-list">
        {% for t in t_list %}
            <div class="task-item">
                <form action="{% url 'todolist:taskup' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="up" value="{{ t.id }}">
                    <button class="button up-button">Subir</button>
                </form>
                <form action="{% url 'todolist:taskdown' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="down" value="{{ t.id }}">
                    <button class="button down-button">Bajar</button>
                </form>
                <form action="{% url 'todolist:removetask' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="erase" value="{{ t.id }}">
                    <button class="button delete-button">Borrar</button>
                </form>
                {{ t.name }}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No hay tareas disponibles.</p>
{% endif %}
